<html>
    <head>
        <title> Login </title>
        <%- include('./Partials/head') %>

    </head>
    <body>
        <%- include('./Partials/header') %>
        <div>
            <h1>Added Product</h1>
            <h1>Deleted Product</h1>           
        </div>

    </body>
</html>
