<html>
    <head>
        <title> Login </title>
        <%- include("./Partials/head.ejs") %>
    </head>
    <body>
        
        <div id="main">
            <div id="header">
                <h1>Welcome To Customer Relationship Management System </h1>
            </div>
            <hr>
            <form  id="form" method="post" action="/forgetpassword">
             <div id="main-card" >
                <div >
                    <h3 id="main-card-header">Forget Password</h3>
                </div> 
                <hr>
                <% if(msg){%>
                    <p id="errmsg"><%= msg %> </p> 
                    <%}%>
                <input type="hidden" name="_csrf" value="<%=csrftoken%>"> 
                <div id="main-username">
                    <label for="input-field"><b>Username</b></label><br>
                    <input id="input-field" type="text" name="username" placeholder="Enter the Username" required></input>
                </div>
                <div id="main-login-button">
                    <input type="submit" id="loginbtn" class="button-16" value="Change Password">
                </div>
                <a href="/" id="forgetpswd"><u>Login</u></a> 
             </div> 
            </form>
        </div>
    </body>
</html>